.planets{
  display: flex;
  flex-wrap: wrap;
}
.planet-container{
  padding: 10px 20px;
  display: flex;
  width: calc(50% - 42px);
  border: 1px solid #ddd;
}
@media screen and (max-width: 600px) {
  .planet-container{
    width: 100%;
  }
}